<div class="register-form" @visibility>
<h4>Register for new account</h4>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">

    <div class="form-group">
      <label for="firstName">First name</label>

      <input id="firstName" type="text" class="form-control" formControlName="firstName" required />

      <div *ngIf="formErrors.firstName.length > 0" class="alert alert-danger">
        <ul>
          <li *ngFor="let item of formErrors.firstName">{{item}}</li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">Last name</label>

      <input id="lastName" type="text" class="form-control" formControlName="lastName" required />

      <div *ngIf="formErrors.lastName.length > 0" class="alert alert-danger">
        <ul>
          <li *ngFor="let item of formErrors.lastName">{{item}}</li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>

      <input id="email" type="text" class="form-control" formControlName="email" required />

      <div *ngIf="formErrors.email.length > 0" class="alert alert-danger">
        <ul>
          <li *ngFor="let item of formErrors.email">{{item}}</li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>

      <input id="password" type="password" class="form-control" formControlName="password" required />

      <div *ngIf="formErrors.password.length > 0" class="alert alert-danger">
        <ul>
          <li *ngFor="let item of formErrors.password">{{item}}</li>
        </ul>

      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>

      <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" required />

      <div *ngIf="formErrors.confirmPassword.length > 0" class="alert alert-danger">
        <ul>
          <li *ngFor="let item of formErrors.confirmPassword">{{item}}</li>
        </ul>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Submit</button>
    <div *ngIf="registering">
      <span><img src='../../../assets/imgs/loaderIn.gif'></span>
      <span class='message'>Register account ...</span>
    </div>
  </form>

</div>
