<div class="register-form" @visibility>
<h4>Register for new account</h4>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">

    <div class="form-group">
      <label for="firstName">First name</label>

      <input id="firstName" type="text" class="form-control" formControlName="firstName" required />

      <div *ngIf="formErrors.firstName" class="alert alert-danger">
        {{formErrors.firstName}}
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">Last name</label>

      <input id="lastName" type="text" class="form-control" formControlName="lastName" required />

      <div *ngIf="formErrors.lastName" class="alert alert-danger">
        {{formErrors.lastName}}
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>

      <input id="email" type="text" class="form-control" formControlName="email" required />

      <div *ngIf="formErrors.lastName" class="alert alert-danger">
        {{formErrors.email}}
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>

      <input id="password" type="password" class="form-control" formControlName="password" required />

      <div *ngIf="formErrors.password" class="alert alert-danger">
        {{formErrors.password}}
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>

      <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" required />

      <div *ngIf="formErrors.confirmPassword" class="alert alert-danger">
        {{formErrors.confirmPassword}}
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Submit</button>
  </form>

</div>

<!--OLD-->
<!--  <h4>Register for new account</h4>-->
<!--  <form novalidate (ngSubmit)="onSubmit(registerForm)" #registerForm='ngForm'>-->
<!--    <div class='form-group'>-->
<!--      <input type='text' autocomplete="off" name='name' required placeholder="User name" ngModel #name='ngModel' class='form-control'>-->
<!--      <div class="alert alert-danger" [hidden]='name.valid || name.pristine'>Please enter your name</div>-->
<!--    </div>-->
<!--    <div class='form-group'>-->
<!--      <input type='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autocomplete="off" name='email' required placeholder="User Email" ngModel #email='ngModel' class='form-control'>-->
<!--      <div class="alert alert-danger" [hidden]='email.valid || email.pristine'>Please enter your email</div>-->
<!--    </div>-->
<!--    <div class='form-group'>-->
<!--      <input type='password' autocomplete="off" name='password' required ngModel #password='ngModel' placeholder="Password" class='form-control'>-->
<!--      <div class="alert alert-danger" [hidden]='password.valid || password.pristine'>Password is required</div>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class='alert alert-danger' *ngIf="formError">{{formError}}</div>&ndash;&gt;-->
<!--    <div *ngIf="!registering && !hasAdded">-->
<!--      <button routerLink='/sign-in' class='btn btn-danger'>Cancel</button>-->
<!--      <button [disabled]='registerForm.invalid' type='submit' class='btn btn-primary'>Register</button>-->
<!--    </div>-->
<!--    <div *ngIf="registering && !hasAdded">-->
<!--      <span class='message'>Registering new user ...</span>-->
<!--      <span><img src='../../../assets/imgs/loaderIn.gif'></span>-->
<!--    </div>-->
<!--    <div *ngIf="hasAdded">-->
<!--      <span class='message'>New user has added to database</span>-->

<!--    </div>-->

<!--  </form>-->
