<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">

          <div class="form-group mb-2">
            <label class="d-inline" for="oldPassword">Old Password</label>
            <div *ngIf="formErrorsRequired.oldPassword.length > 0" class="text-danger d-inline float-end">
              <div>
                {{formErrorsRequired.oldPassword}}
              </div>
            </div>
            <input id="oldPassword" type="password" class="form-control" formControlName="oldPassword" required>

          </div>

          <div class="form-group mb-2">
            <label for="password">New Password</label>
            <div *ngIf="formErrorsRequired.password.length > 0" class="text-danger d-inline float-end">
              <div>
                {{formErrorsRequired.password}}
              </div>
            </div>
            <input id="password" type="password" class="form-control" formControlName="password" required>
          </div>

          <div class="form-group mb-2">
            <label for="confirmPassword">Confirm New Password</label>
            <div *ngIf="formErrorsRequired.confirmPassword.length > 0" class="text-danger d-inline float-end">
              <div>
                {{formErrorsRequired.confirmPassword}}
              </div>
            </div>
            <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" required>
          </div>

          <button type="submit" class="btn btn-primary mt-2" [disabled]="!changePasswordForm.valid">Change password
          </button>

        </form>
      </div>
      <div class="col-6">

        <div>
          <div class="text-bg-light p-3 text-center">Password validation rules</div>
          <ul>
            <li [ngClass]="item.valid == true ? 'valid' : 'invalid'"
                *ngFor="let item of passwordValidationMessages">{{item.name}}</li>
          </ul>
        </div>

        <div *ngIf="serverErrors.length > 0" class="card text-bg-warning mb-3">
          <div class="card-header">Errors</div>
          <div class="card-body">
            <ul>
              <li *ngFor="let item of serverErrors">{{item}}</li>
            </ul>
          </div>
        </div>

        <div *ngIf="passwordChanged" class="card text-bg-info mb-3">
          <div class="card-header">Info</div>
          <div class="card-body">
            <p class="text-center">Your password has been changed. Please login with a new pssword</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onClose()">
        Close
      </button>
    </div>



