<div @visibility>
  <div class="group" *screenLarge>
    <div class='index'><span>{{index}}</span></div>
    <div class='car-img'>
      <img [src]="imageToShow"
           alt="Place image title"
           *ngIf="!noMainImage; else noImageFound">
    </div>
    <div class='car-name'><span>{{car.name}}</span></div>
    <div class='car-model'><span>{{car.model}}</span></div>
    <div class='car-price'><span>{{car.price | currency: 'USD'}}</span></div>
  </div>
  <div class="group-small" *screenSmall>
    <div class='title-group-small'>
      <div class='index-small'><span>{{index}}</span></div>
      <div class='car-img-small'>
        <img [src]="imageToShow"
             alt="Place image title"
             *ngIf="!noMainImage; else noImageFound">
      </div>
      <div class='car-name-small'><span>{{car.name}}</span></div>
      <div class='car-model-small'><span>{{car.model}}</span></div>
      <div class='car-price-small'><span>{{car.price | currency: 'USD'}}</span></div>
    </div>
  </div>
</div>

<ng-template #noImageFound>
  <img src="./assets/imgs/logo.png" alt="Fallbackimage">
</ng-template>
